*{
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    font-family: 'Times New Roman';
}
.container{
    margin: 0 34px;
   ppadding: 8px; 
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav-logo{
    width: 500px;
}
.header_nav-items{
    display: flex;
    gap: 25px;
    align-items: center;
}
.header_nav-items a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
}
.header_nav-item a:hover{
    color: green;
    text-decoration: underline;
}
.hero1{
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}
.main_text1{
    width: 700px;
}
.main_img1 img{
    width: 200px;
}
.main_text1-heading{
    font-size: 30px;
    color: #1b2035bb;
}
.hero2{
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}
.main_text2{
    width: 650px;
}
.main_img2 img{
    width: 200px;
}
.main_text2-heading{
    font-size: 30px;
    color: #1b2035bb;
}
.hero3{
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
    align-items: center;
}
.main_text3{
    width: 700px;
}
.main_img3 img{
    width: 200px;
}
.main_text3-heading{
    font-size: 30px;
    color: #1b2035bb;
}
.showcase{
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 64px;
    align-items: center;
}
.showcase_card h3{
    color: #1b2035bb;
    font-weight: 800;
   margin-top: 7px;
}
.footer{
    background-color: black;
    color: white;
    padding: 16px;
}
.footer_text{
text-align: center;
}
